.main-sidebar,main-header
{
    background-image: linear-gradient(rgb(11, 10, 90),violet) !important;
}
.tr:nth-child(even)
{
    background:lightseagreen;
}
.tr:nth-child(odd)
{
    background:rgb(233, 233, 97);
}
.card
{
    background-image: lightseagreen !important;
}
.table-heading-color
{
    background-color: tomato;
}

.card-body
{
    background: lightseagreen !important;
}

.content-wrapper
{
    /*background: tomato !important;*/
    background-image: linear-gradient(rgb(228, 228, 112),rgb(187, 19, 47)) !important;
}
.navbar-dark
{
    background-color:red !important;
    color:white !important;
    border-bottom:10px;
}
.h1{
    background-image: linear-gradient(rgb(228, 228, 112),rgb(187, 19, 47));
}